@if(book){
    <a routerLink="/book{{book.key}}">
        <div class="card-book d-flex flex-column">
                @if(book.covers && book.covers.length > 0){
                    @for(img of book.covers.slice(0,1); track book){
                        @if(img == -1){
                            <img class="random-book-img-missing" src="../../../assets/img-missing.png" />
                        } @else {
                            <img class="random-book-img" src="https://covers.openlibrary.org/b/id/{{img}}-L.jpg" />
                        }
                    }
                } @else {
                    <img class="random-book-img-missing" src="../../../assets/img-missing.png" />
                }
            <div class="card-detail d-flex flex-column justify-content-between">
                <span>{{book.title}}</span>
                <app-button
                    buttonText="Lire"
                    buttonUrl="/book{{book.key}}"
                    buttonClass="btn dark-btn"
                ></app-button>
            </div>
        </div>
    </a>
}
