.card-book,
.card-detail{
  height: 100%;
}

.card-book{
  width: 16em;
  color: var(--main-color);
  border-radius: 10px;
  overflow: hidden;
}

.card-book img{
  height: 20em;
  object-fit: cover;
}

.card-detail{
  margin: .8em;
}
