.book-details-description{
    width: 45%;
    overflow-wrap: break-word;
}

.random-book-img-missing,
.random-book-img{
    width: 100%;
}

.subject{
    background-color: #DCDCDC;
    padding: .3em .5em;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .book-details-description{
        width: 100%;
    }
    .book-details{
        flex-wrap: wrap;
    }
}