<main>
    <section>
        @if(book){
            <div class="book-details d-flex flex-row align-items-center justify-content-center gap-5">
                <div class="book-details-description d-flex flex-column">
                    <h1>{{book.title}}</h1>
                    <div class="d-flex flex-row gap-2">
                        @if(book.summary){
                            <p>
                                <span>
                                    @if(book.summary.average != null){
                                        Note moyenne: 
                                        {{book.summary.average}}
                                    } @else{
                                        Le livre n'a pas encore été noté
                                    }
                                </span>
                                <span>
                                    @if(
                                        book.summary.count == 0
                                        || book.summary.count == null
                                    ){
                                        .
                                    } @else{
                                        , réalisé sur {{book.summary.count}} 
                                        @if(book.summary.count > 1){
                                            notes.
                                        } @else {
                                            note.
                                        }
                                    }
                                </span>
                            </p>
                        }
                    </div>
                    <span>{{book.time_key}}</span>
                    @if(book.description){
                        <p>
                            @if(book.description.value){
                                {{book.description.value}}
                            } @else{
                                {{book.description}}
                            }
                        </p> 
                    } @else{
                        <p>Comme Stephen King aime le mystère, pas de description ne révèle davantage.</p>
                    }
                    <h2>Sujets</h2>
                    <div class="d-flex flex-row flex-wrap gap-1">
                        @if(book.subjects){
                            @for(eachSubject of book.subjects; track book){
                                <span class="subject">{{eachSubject}}</span>
                            }
                        }
                    </div>
                </div>
                <div class="book-details-image">
                    @if(book.covers && book.covers.length > 0){
                        @for(img of book.covers.slice(0,1); track book){
                            @if(img == -1){
                                <img class="random-book-img-missing" src="../../../assets/img-missing.png" />
                            } @else {
                                <img class="random-book-img" src="https://covers.openlibrary.org/b/id/{{img}}-L.jpg" />
                            }
                        }
                    } @else {
                        <img class="random-book-img-missing" src="../../../assets/img-missing.png" />
                    }
                </div>
            </div>
        }
    </section>
</main>