section{
    text-align: justify;
}
section h1{
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .author{
        flex-wrap: wrap;
    }
    .author h1{
        text-align: center;
    }
    .author img{
        max-width: 100%;
    }


}