<div class="author d-flex flex-row">
    <img src="https://tinyurl.com/3fjv2brw" alt="">
    <section class="d-flex flex-column justify-content-center">
        <h1>• Un mot sur l'auteur •</h1>
        <p>
            Stephen King, né le 21 septembre 1947, a marqué l'histoire de la littérature avec des succès retentissants tels que "Carrie" (1974), "Shining" (1977) et "Ça" (1986). 
        </p>
        <p>
            Depuis lors, ses œuvres ont été adaptées au cinéma et à la télévision, propulsant son influence au-delà du monde de la littérature. Avec plus de 350 millions d'exemplaires vendus, King reste une figure emblématique de la culture populaire, continuellement explorant les recoins les plus sombres de l'âme humaine.
        </p>
    </section>
</div>