/* For mobile phones: */
@media only screen and (max-width: 600px) {
    
    .box-img {
        display: none;
    }

    .discover-all-books{
        padding: 0;
    }

    .buttons-title{
        justify-content: center
    }
    
}