<div class="discover-random-book">
        <section class="d-flex flex-row align-items-center justify-content-between">
            @if(randomBooks){
                @for(thisBook of randomBooks; track randomBooks){
                    <div class="random-book-description d-flex flex-column gap-2">
                        <h1>"{{thisBook.title}}"</h1>
                        <p>
                            "Plongez dans l'univers captivant de Stephen King en choisissant votre prochaine aventure au hasard. Laissez le destin guider votre lecture vers des territoires inexplorés où le frisson et l'émerveillement se rencontrent à chaque page tournée."
                        </p>
                            <app-button
                                buttonText="Lire ce livre"
                                buttonUrl="/book{{thisBook.key}}"
                                buttonClass="btn light-btn"
                            ></app-button>
                    </div>
                    <div class="box-img justify-content-center">
                        @if(thisBook.covers && thisBook.covers.length > 0){
                            @for(img of thisBook.covers.slice(0,1); track randomBooks){
                                @if(img == -1){
                                    <img class="random-book-img-missing" src="../../../assets/img-missing.png" />
                                } @else {
                                    <img class="random-book-img" src="https://covers.openlibrary.org/b/id/{{img}}-L.jpg" />
                                }
                            }
                        } @else {
                            <img class="random-book-img-missing" src="../../../assets/img-missing.png" />
                        }
                    </div>
                }
            }
        </section>
</div>
<img class="random-decorate" src="../../../assets/dechirure.png" alt="">
<section class="searchBar d-flex justify-content-center">
    <form (submit)="submitForm($event)" class="d-flex flex-row justify-content-center align-items-center gap-2">
        <input (keyup)="filter.RegisterBook=$any($event.target).value" type="text" placeholder="Rechercher un livre">
        <button type="submit" class="bg-none d-flex align-items-center p-0"><i class="bx bx-search bx-l"></i></button>
    </form>
</section>
<section>
    <div class="discover-all-books">
        <div class="buttons-title d-flex flex-row">
            <h1>• Découvrez les livres •</h1>
        </div>
        @if(books && books.length > 0){
            <div class="slider">
                <div class="slides d-flex flex-row gap-3">
                    @for(eachBook of books; track eachBook.key){
                        <app-book [book]="eachBook"></app-book>
                    }
                </div>
            </div>
        }
    </div>
</section>
<div class="author-content">
    <app-author></app-author>
</div>
