
.discover-random-book{
    background-color: var(--main-color);
    color: white;
}

.box-img{
    width: 100%;
    display: flex;
}

.random-book-img,
.random-book-img-missing{
    height: 25em;
    border-radius: 10px;
    object-fit: cover;
}

.random-book-img{
    width: 20em;
}

.random-book-img-missing{
    width: 30em;
}

img{
    width: 100%;
}

.random-decorate{
    height: 3em;
}

.btn-display-books{
    background: none;
    border: none;
    font-weight: bold;
    font-size: larger;
    color: var(--main-color);
}

.buttons-title{
    margin: 2em 0;
}

/*  SLIDER */
.slider{
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: hidden;
}

.slider::-webkit-scrollbar{
    display: none;
}

/* AUTHOR */
.author-content{
    background-color: #00000015;
    color: var(--main-color);
}

/* BARRE DE RECHERCHE */
section.searchBar{
    padding-bottom: 0;
}

form{
    padding: .5em 1.4em;
    background-color: transparent;
    border-radius: 50px;
    border: .06em solid var(--main-color);
    width: 100%;
    max-width: 25em;
}

input::placeholder{
    color: #DCDCDC;
}

input{
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
}

button, input{
    border: none;
}

button i{
    color: var(--main-color);
}

.bg-none{
    background: none;
}