nav{
    box-shadow: 0px 9px 16px -10px rgba(0,0,0,0.2);
    background-color: var(--main-color);
}

nav.nav-web{
    padding: 1em 10em;
    display: flex;
}

nav.nav-mobile{
    display: none;
}

nav a{
    color: white;
}

nav a.btn-home{
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: var(--main-color);
    padding: .3em .5em;
    border-radius: 50%;
}

nav img{
    height: 7em;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 2em;
}

@media only screen and (max-width: 600px) {
    nav.nav-web{
        display: none;
    }

    nav.nav-mobile{
        display: flex;
        max-width: 100%;
        padding: 0 1em;
    }

}