<nav class="nav-web flex-row justify-content-between align-items-center">
    <img src="../../assets/Fandom.png" alt="">
    <ul class="d-flex flex-row">
        <li>
            <a routerLink="/">Accueil</a>
        </li>
    </ul>
</nav>

<nav class="nav-mobile justify-content-center align-items-center">
    <a routerLink="/"><img src="../../assets/Fandom.png" alt=""></a>
    <a class="btn-home" routerLink="/"><i class="bx bxs-home"></i></a>
</nav>