:root{
    --main-color: #1D1825;
}

a{
    text-decoration: none;
}

section{
    margin: 0 10em;
    padding: 3em 0;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    section{
        margin: 0 2em;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 600px) {
    /* For tablets: */

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

}